@import "tailwindcss";

body {
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.8;
}

/*Main heading?*/
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Times New Roman', serif;
}

/*Subtitles?*/
h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

/*Navbar menu?, Subscribe button on the citadel in homepage*/
h3 {
  font-size: 1.0rem;
  font-weight: 500;
}

.times-new-roman {
  font-family: "Times New Roman", serif;
}
